@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');





body {
  background-color: #212121;
  font-family: 'Inter', sans-serif;
}

.welcome {
  color: white;
  padding-top: 100px;
}

/* Navigation bar */
a {
  text-decoration: none;
  color: white;
}

ul {
  list-style: none;
}

.nav-list {
  display: flex;
  margin-right: 2rem;
}

.nav-list a {
  display: block;
  font-size: 25px;
  padding: 2rem;
}

nav {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #212121;
  
  z-index: 10;
}

/* END Navigation Bar */

h3 {
  color: #74FAC0;
  text-align: center;
  font-size: 30px;
}

/* Projects */
.projects-section {
  text-align: center;
  padding: 10rem 2rem;
  background: #45567d;
}

.projects-section-header {
  max-width: 640px;
  margin: 0 auto 6rem auto;
  border-bottom: 0.2rem solid #f0f0f0;
}
@media (max-width: 28.75em) {
  .projects-section-header {
    font-size: 4rem;
  }
}

/* "Automagic" image grid using no media queries */
.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 4rem;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  margin-bottom: 6rem;
}

@media (max-width: 30.625em) {
  .projects-section {
    padding: 6rem 1rem;
  }

  .projects-grid {
    grid-template-columns: 1fr;
  }
}

.project {
  background: #303841;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  border-radius: 2px;
}

.code {
  color: #303841;
  transition: color 0.3s ease-out;
}

.project:hover .code {
  color: #ff7f50;
}

.project-image {
  height: calc(100% - 6.8rem);
  width: 100%;
  object-fit: cover;
}

.project-title {
  font-size: 2rem;
  text-align: center;
}

.view-all {
  background-color: #74FAC0;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  color: white;
  margin-bottom: 100px;
  font-size: 20px;
  border-radius: 12px;
  padding: 1rem 2rem;
  display: inline-block;
  border-color: #74FAC0;
  text-align: center;
  margin:auto;
  display: flex;
}

.view-all:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 6px rgba(0,0,0,0.23);
}

/* END Projects Section */